%h1 Favorite contents
= form_tag contents_path, method: :get, class: 'form-search pull-left' do
  %p
    = text_field_tag :query, params[:query], class: 'span2'
    = submit_tag "Search", name: nil, class: 'btn'
#contents
  - @contents.each do |content|
    .well.success= link_to content.title, '#', content_id: content.id
    .well.success 
      %span.label.label-success= content.read

%a.btn{"data-toggle" => "modal", :href => "#full-width", :role => "button"} Launch demo modal

#full-width{ class: "modal container hide fade" }
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3= @contents.first.title
  .modal-body
    = raw @contents.first.page_content
