%h1 Favorite contents
= form_tag search_contents_path, method: :get, remote: true, class: 'form-search pull-left' do
  %p
    = text_field_tag :query, params[:query], class: 'span2'
    = submit_tag "Search", name: nil, class: 'btn'
#contents
  = render partial: "list"

= link_to "More content", contents_path(page: @next_page), class: 'infinite-more-link'

#full-width{ :class => "modal container hide fade", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3
  .modal-body
