!!!
%html
    %head
      = title :site => "twilater"
      = javascript_include_tag "application"
      = stylesheet_link_tag 'application', :media => 'all'
      = csrf_meta_tags
    %body
      %a{ class: "btn btn-navbar" data-toggle: "collapse" data-target: ".nav-collapse"}
        %span{ class: "icon-bar"}
        %span{ class: "icon-bar"}
        %span{ class: "icon-bar"}
      %a{ class: "brand" } twiLater
      .container
        = yield

